.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  border-bottom: 1px dashed #ccc;
}

.Controls-text {
  padding: 20px 5px 20px 20px;
}

.Controls-result {
  font-weight: bold;
  padding: 20px 5px 20px 5px;
}


